<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260713749976-r6n7qqqb6bfok5dm9r47crethn6v0nco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260713749976-r6n7qqqb6bfok5dm9r47crethn6v0nco</string>
	<key>API_KEY</key>
	<string>AIzaSyBDsKXGnZOwB9U8RiVdlAVEvkrLcTih0vU</string>
	<key>GCM_SENDER_ID</key>
	<string>260713749976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pro1</string>
	<key>PROJECT_ID</key>
	<string>phoneath-db7d4</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneath-db7d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260713749976:ios:535f2540aa92d5197e66ad</string>
	<key>DATABASE_URL</key>
	<string>https://phoneath-db7d4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>